*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
 background-color: rgb(253, 253, 253);
}
.padre{
    margin: auto;
	width: 100%;
	max-width: 10000px;
	display: flex;
	flex-flow: wrap row;
}
header{
    color: white;
    width: 100%;
	padding: 50px;
    margin: auto;
	display: flex;
	flex-flow: wrap row;
	justify-content:space-between;
	align-items:center;
    background: rgb(7, 7, 7);
   margin-bottom: 50px;
}

.logo img{
    width: 150px;
    margin-top: 10px;
    border-radius: 30%;
    border: 5px solid white;
}
.menu ul {
	list-style: none ;
}

footer {
	margin-top: 20px;
	background: rgb(0, 0, 0);
	padding: 20px;
	margin-bottom: 20px;
	width: 100%;
	color: rgb(255, 255, 255);
	display: flex;
	flex-direction:row;
	justify-content:space-between;
}
footer .redes li{
	display: inline-block;
    
}

footer .redes a {
	color: rgb(66, 1, 245);
	text-decoration: underline;
	margin-left: 20px;
	
}

footer .redes a:hover {
	text-decoration: none;
	color: aliceblue;
}

/*
.menu{
	width: 1000px;
	margin: 30px auto;
}
.menu ul{
 list-style: none;	
}
.menu > li{

	display: inline-block;
}
.menu >li>a{
	display: block;
	padding: 15px 20px;
	text-decoration: none;
}
.menu li a:hover{
	transition: all .3s;
}
.submenu{
	position: absolute;
	width: 120%;
}
.submenu li a{
	display: block;
	padding: 15px;
    text-decoration: none;
}
.submenu li a:hover .submenu{
display: block;
}*/