*{
    padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}

body {
	font-family: 'Open Sans', sans-serif;
	background: #000 url('imagenes/fondo.png');
	background-size: cover ;
	background-attachment: fixed;
	box-sizing: border-box;
}
.padre {
	margin: auto;
	width: 90%;
	max-width: 10000px;
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
}
header {
	width: 100%;
	padding: 50px;
    margin: 50px 0px;
	display: flex;
	flex-flow: wrap row;
	justify-content:space-between;
	align-items:center;
    background: rgba(255,255,255,.2);
}
header .logo h1{
    color: rgb(10, 10, 10);
   
    
}
header .logo img{
    margin-top: 20px;
    width: 100px;
	height: auto;
	border-radius: 30%;
}
header .menu a {
	color: #000;
    width: 20px;
	text-decoration: none;
	margin-right:50px;
	font-size: 20px;
}
header .menu nav ul li{
	display: inline;
	justify-content: center;
    width: 80%;
	justify-content: space-between;

	

}

header .menu a:hover {text-decoration: underline;
color: green;}

.main {
	background-color: #000;
	padding: 20px;
	width: 70%;
    border: 5px solid white;
    
}
.main .pr {
    margin-top: 20px ;
    width: 100%;
    height: auto;
    
    
  
}
.main h3{
    color: rgb(255, 255, 255);
    margin: 30px ;
}
.main h2{
color: rgb(29, 9, 212);
font-size: 40px;
display: center;
}
.modelos{
    display: flex;
    flex-flow:wrap ; 
    justify-content: space-around;
}

.modelos img{
    
    width: 200px ;
    height: 200px;
    opacity: 0.5;
 border: 5px solid red;
}
.modelos img:hover{
    opacity: 1;
    border: 5px solid blue;
}
aside {
	width: 30%;
	background:rgba(255,255,255,.2);;
	padding: 20px;
	box-sizing: border-box;
}

aside .oficinas{   
    width: 95%;
	color: #000;
	
}
aside .oficinas a{
    color: rgb(252, 0, 0);
    text-decoration: none;
	font-size: 20px;
}
aside .oficinas li{
	display: block;
	
	
}
aside .oficinas a:hover{
    text-decoration: underline;
    color:rgb(50, 114, 89);
}

footer {
	margin-top: 20px;
	background: rgba(255,255,255,.2);
	padding: 20px;
	margin-bottom: 20px;
	width: 100%;
	color: rgb(10, 10, 10);
	display: flex;
	flex-direction:row;
	justify-content:space-between;
}
footer .redes li{
	display: inline-block;
    
}

footer .redes a {
	color: #000;
	text-decoration: underline;
	margin-left: 20px;
	
}

footer .redes a:hover {
	text-decoration: none;
	color: aliceblue;
}

@media screen and (max-width: 800px) {
	.main {
		width: 100%;
	}

	aside {
		width: 100%;
		flex-direction:row;
	}

	aside .oficinas {
		width: 40%;
	}
}

@media screen and (max-width: 600px) {
	header {
		flex-direction:column;
		padding-bottom: 20px; 
	}

	header .menu {
		width: 100%;
		background: rgba(255,255,255,.2);
		text-align: center;
		padding: 20px;
	}

	header .logo img{
		margin-bottom: 20px;
		
	}

	header .menu a {
		margin:0 20px; 
	}

	footer {
		flex-direction:column;
		text-align: center;
	}

	footer .autor {
		order:2;
	}

	footer .redes-sociales {
		order:1;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 400px) {
	aside {
		display: none;
	}
}