* {
	margin: 0;
	padding: 0;
}

body {
	background: #b4afaf;
	font-family: Arial;
	color:#000;
}

/* **Contenedor Padre*/
.Contenedor {
	width: 90%;
	max-width: 1000px;
	/*height: 900px;*/
	background: #20491f;
	
	/* **Habilitar flexbox*** */
	display:flex;

    flex-direction:row;
  
	flex-wrap:wrap;

	/*flex-flow:column wrap;*/
	

	/*justify-content:flex-end;
	

	align-items:baseline;*/

	/*align-content:space-around;*/
}
/*Elementos hijo*/
.caja {
	width: 150px;
	height: 150px;
	text-align: center;
	background: #b5df7c;
	margin: 20px;
	padding: 20px;
	font-size: 50px;
	color: #000;



	/*order:1;*/

	
	/*flex-grow:1;
	flex-shrink:1;*/
	
	/*flex:1 1 auto;*/
}
/*
.dos {


	flex-basis:50%;
	flex-grow:2;
	flex-shrink:0;

	

	height: auto;
	align-self:center;
}*/